*{
    font-family: Georgia;
}
main{
    display: flex;
}
header{
    display: flex;
}
.left_h,.right_h{
    background-color: Navy;
    color:white;
    text-align: center;
    height: 100px;
    width:50%;
}
nav{
    background-color: Navy;
    padding:20px;
}
.formatOption{
    color:silver;
    margin:50px;
}
.formatOption:hover{
    color:white;
    text-decoration: underline;
}
.left_m,.right_m{
    background-color: Azure;
    height: 550px;
}
.left_m{
    width:70%;
}
.right_m{
    width:30%;
}
footer{
    background-color: Navy;
    color:white;
}
table{
    border: 1px Navy solid;
    margin: auto;
    width: 70%
}
tr:hover{
    background-color: skyblue;
}
.right_m img{
    width: 90%;
}