*{
    font-family: 'Trebuchet MS',  sans-serif;
}
main{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 'aside one' 
                         'aside two';
}
aside{
    background-color: #C5CAE9;
    height: 600px;
    overflow: hidden;
    grid-area: aside;
}
.one , .two{
    height: 300px;
    
}
.one{
    background-color: #9FA8DA;
    grid-area: one;
}
.two{
    background-color: #7986CB;
    grid-area: two;
}
footer{
    background-color: #283593;
    color: white;
    padding: 20px;
}
/* dla blokow generowanych w skrypce 1 */
.opona{
    background-color: #9FA8DA;
    margin: 40px;
    border: dotted 2px #283593;
    border-radius: 30px;
}
img{
    float: left;
    padding: 20px;
}
h2{
    text-align: center;
    margin: 0px;
    padding: 15px;
}
h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}

