*{
    font-family: garamond;
    color: white;
}
header{
    background-color: indigo;
    text-align: center;
    padding: 2px;
}
.left, .right{
    background-color: indigo;
    height: 600px;
    width: 20%;
}
.mid{
    background-color: black;
    height: 600px;
    overflow: auto;
    width: 60%;
}
main{
    display: flex;
}
@media all and (width <= 800px){
    .left,.right,.mid{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
}
footer{
    background-color: indigo;
    height: 150px;
}

.points{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}

li{
    padding: 5px;
}
/* dla blokow gier */
.games{
    float: left;
    text-align: center;
    padding: 3px;
}
input{
    margin: 10px;
    color: indigo;
}




